doctype html
html
  head
    title HexletExercise
    link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')
  body
    nav.navbar.navbar-light.bg-light
      a.navbar-brand(href="/") HexletBlogs
      ul.nav.navbar-nav.float-xs-right
        li.nav-item
          a.nav-link(href="/posts/new") Write Post
        li.nav-item
          a.nav-link(href="/posts") My Posts
        .container
          .mt-1
    block content
