.flex-cont {
  display: flex;
  /* display: inline-flex; */
  justify-content: flex-end;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row-reverse;
}
