.yellow {
  background-color: lightyellow;
}

.grey {
  background-color: lightgrey;
}

.blue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}
